In [1]:
import numpy as np
import pandas as pd
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.neighbors import NearestNeighbors

In [2]:
df = pd.read_json('final_result_after_logistic.json')

In [3]:
df_knn = df[['asin','overall','predicted_rating','processedReview', 'summary']]

In [4]:
df_product_review_data_from_sentiment = df_knn.groupby("asin", as_index=False).mean()

In [5]:
df_product_review_data_from_sentiment.head()

         asin   overall  predicted_rating
0  0005019281  4.458716          4.940745
1  0307514161  4.732283          4.927104
2  0310263662  3.962461          4.796995
3  0310274281  4.869159          4.947654
4  0767002652  4.296875          4.842200

In [6]:
df_merge_review_series = df_knn.groupby("asin")["summary"].apply(list).reset_index()
df_merge_review_data = pd.DataFrame(df_merge_review_series)

In [7]:
df_merge_review_data.head()

         asin                                            summary
0  0005019281  [good version of a classic, Good but not as mo...
1  0307514161  [Who needs it to be christmas to watch this fl...
2  0310263662  [watching anyone being tortured would be sad -...
3  0310274281  [great life lessons, Awesome, Inspiring, GREAT...
4  0767002652  [Entertaining!, Definitely a masterpiece!  How...

In [9]:
final_knn_data = pd.merge(df_product_review_data_from_sentiment, df_merge_review_series, on="asin", how='inner')

In [10]:
final_knn_data.head()

,asin,overall,predicted_rating,summary
0,0005019281,4.458716,4.940745,"[good version of a classic, Good but not as mo..."
1,0307514161,4.732283,4.927104,[Who needs it to be christmas to watch this fl...
2,0310263662,3.962461,4.796995,[watching anyone being tortured would be sad -...
3,0310274281,4.869159,4.947654,"[great life lessons, Awesome, Inspiring, GREAT..."
4,0767002652,4.296875,4.842200,"[Entertaining!, Definitely a masterpiece! How..."

In [11]:
regEx = re.compile('[^a-z]+')
def clean_data(text_array):
    text = " ".join(text_array)
    text = text.lower()
    text = regEx.sub(' ', text).strip()
    return text

In [12]:
final_knn_data["clean_summary_data"] = final_knn_data["summary"].apply(clean_data)

# final_knn_data = pd.merge(df_product_review_data_from_sentiment, a, on="asin", how='inner')
# final_knn_data = pd.merge(df_merge_reviews,df_product_review_data_from_sentiment,on='asin')
# df_merge_reviews =df_merge_reviews.to_frame()

In [13]:
final_knn_data.head()

,asin,overall,predicted_rating,summary,clean_summary_data
0,0005019281,4.458716,4.940745,"[good version of a classic, Good but not as mo...",good version of a classic good but not as movi...
1,0307514161,4.732283,4.927104,[Who needs it to be christmas to watch this fl...,who needs it to be christmas to watch this fli...
2,0310263662,3.962461,4.796995,[watching anyone being tortured would be sad -...,watching anyone being tortured would be sad je...
3,0310274281,4.869159,4.947654,"[great life lessons, Awesome, Inspiring, GREAT...",great life lessons awesome inspiring great pic...
4,0767002652,4.296875,4.842200,"[Entertaining!, Definitely a masterpiece! How...",entertaining definitely a masterpiece how refr...

In [14]:
final_knn_data_clean = final_knn_data[['asin','overall','predicted_rating','clean_summary_data']]

In [15]:
final_knn_data_clean.head()

,asin,overall,predicted_rating,clean_summary_data
0,0005019281,4.458716,4.940745,good version of a classic good but not as movi...
1,0307514161,4.732283,4.927104,who needs it to be christmas to watch this fli...
2,0310263662,3.962461,4.796995,watching anyone being tortured would be sad je...
3,0310274281,4.869159,4.947654,great life lessons awesome inspiring great pic...
4,0767002652,4.296875,4.842200,entertaining definitely a masterpiece how refr...

In [16]:
final_knn_data_clean.to_json('final_knn_data_clean.json')

In [17]:
countVector = CountVectorizer(max_features = 300, stop_words='english') 
transformedReviews = countVector.fit_transform(final_knn_data_clean['clean_summary_data'])

In [18]:
df_knn_vectorized_data = pd.DataFrame(transformedReviews.A, columns=countVector.get_feature_names())
df_knn_vectorized_data = df_knn_vectorized_data.astype(int)

In [19]:
countVector.get_feature_names()

[u'absolutely',
 u'acting',
 u'action',
 u'actors',
 u'actually',
 u'adaptation',
 u'adventure',
 u'age',
 u'amazing',
 u'american',
 u'animated',
 u'art',
 u'average',
 u'away',
 u'awesome',
 u'awful',
 u'bad',
 u'batman',
 u'beautiful',
 u'believe',
 u'best',
 u'better',
 u'big',
 u'bit',
 u'black',
 u'blood',
 u'blu',
 u'bond',
 u'book',
 u'boring',
 u'brilliant',
 u'buy',
 u'cast',
 u'character',
 u'characters',
 u'christmas',
 u'classic',
 u'collection',
 u'come',
 u'comedy',
 u'comic',
 u'complete',
 u'cool',
 u'creepy',
 u'cut',
 u'cute',
 u'dark',
 u'day',
 u'dead',
 u'decent',
 u'definitely',
 u'did',
 u'didn',
 u'die',
 u'different',
 u'director',
 u'disappointed',
 u'disappointing',
 u'disc',
 u'disney',
 u'disturbing',
 u'does',
 u'doesn',
 u'don',
 u'drama',
 u'dvd',
 u'edition',
 u'effects',
 u'end',
 u'ending',
 u'enjoy',
 u'enjoyable',
 u'enjoyed',
 u'entertaining',
 u'entertainment',
 u'epic',
 u'evil',
 u'excellent',
 u'exciting',
 u'expected',
 u'extras',
 u'family',
 u'fan',
 u'fans',
 u'fantastic',
 u'fantasy',
 u'far',
 u'fast',
 u'favorite',
 u'favorites',
 u'feel',
 u'fi',
 u'fiction',
 u'film',
 u'films',
 u'finally',
 u'fine',
 u'finest',
 u'flick',
 u'fun',
 u'funny',
 u'game',
 u'gets',
 u'gift',
 u'god',
 u'going',
 u'good',
 u'got',
 u'great',
 u'greatest',
 u'half',
 u'happy',
 u'hard',
 u'harry',
 u'hate',
 u'hd',
 u'heart',
 u'hell',
 u'high',
 u'highly',
 u'hilarious',
 u'history',
 u'hit',
 u'hitchcock',
 u'hollywood',
 u'home',
 u'horrible',
 u'horror',
 u'house',
 u'humor',
 u'incredible',
 u'intense',
 u'interesting',
 u'james',
 u'john',
 u'just',
 u'kids',
 u'kind',
 u'king',
 u'know',
 u'laugh',
 u'let',
 u'life',
 u'like',
 u'liked',
 u'line',
 u'little',
 u'live',
 u'll',
 u'long',
 u'look',
 u'lost',
 u'lot',
 u'lots',
 u'love',
 u'loved',
 u'magic',
 u'make',
 u'makes',
 u'man',
 u'masterpiece',
 u'maybe',
 u'meets',
 u'men',
 u'mind',
 u'miss',
 u'modern',
 u'money',
 u'movie',
 u'movies',
 u'moving',
 u'mr',
 u'music',
 u'musical',
 u'mystery',
 u'need',
 u'new',
 u'nice',
 u'night',
 u'oh',
 u'ok',
 u'okay',
 u'old',
 u'original',
 u'oscar',
 u'outstanding',
 u'packed',
 u'people',
 u'perfect',
 u'performance',
 u'performances',
 u'picture',
 u'piece',
 u'plot',
 u'poor',
 u'powerful',
 u'predictable',
 u'pretty',
 u'price',
 u'pure',
 u'quality',
 u'quite',
 u'quot',
 u'ray',
 u'read',
 u'real',
 u'really',
 u'red',
 u'release',
 u'remake',
 u'review',
 u'reviews',
 u'ride',
 u'right',
 u'rocks',
 u'romance',
 u'romantic',
 u'sad',
 u'saw',
 u'say',
 u'scary',
 u'sci',
 u'science',
 u'screen',
 u'season',
 u'second',
 u'seen',
 u'sequel',
 u'series',
 u'set',
 u'short',
 u'shows',
 u'silly',
 u'simply',
 u'slow',
 u'solid',
 u'special',
 u'star',
 u'stars',
 u'start',
 u'stop',
 u'story',
 u'stuff',
 u'stunning',
 u'stupid',
 u'style',
 u'super',
 u'superb',
 u'superman',
 u'sure',
 u'surprise',
 u'surprisingly',
 u'suspense',
 u'sweet',
 u'tale',
 u'terrible',
 u'terrific',
 u'th',
 u'thing',
 u'think',
 u'thought',
 u'thriller',
 u'time',
 u'times',
 u'tom',
 u'touching',
 u'transfer',
 u'trek',
 u'trilogy',
 u'true',
 u'truly',
 u'tv',
 u'twist',
 u'ultimate',
 u've',
 u'version',
 u'video',
 u'vs',
 u'wait',
 u'want',
 u'war',
 u'wars',
 u'waste',
 u'watch',
 u'watched',
 u'watching',
 u'way',
 u'western',
 u'wonderful',
 u'work',
 u'world',
 u'worst',
 u'worth',
 u'worthy',
 u'wow',
 u'wrong',
 u'year',
 u'years',
 u'yes',
 u'zombie']

In [20]:
df_knn_vectorized_data.head()

,absolutely,acting,action,actors,actually,adaptation,adventure,age,amazing,american,...,world,worst,worth,worthy,wow,wrong,year,years,yes,zombie
0,0,0,0,0,0,4,0,0,0,21,...,0,0,0,1,0,0,0,0,0,0
1,1,0,0,0,0,0,0,2,1,0,...,0,0,1,0,0,0,2,0,0,0
2,2,1,1,0,1,0,0,0,10,0,...,4,4,8,1,10,1,5,2,2,0
3,0,0,0,0,0,0,0,0,0,0,...,2,0,0,1,0,0,0,0,0,0
4,1,1,1,0,0,0,0,1,0,0,...,1,0,2,1,1,0,0,2,1,0

In [21]:
final_knn_data_clean_without_summary = final_knn_data_clean[['asin','overall','predicted_rating']]

In [22]:
final_knn_data_clean_without_summary.head()

         asin   overall  predicted_rating
0  0005019281  4.458716          4.940745
1  0307514161  4.732283          4.927104
2  0310263662  3.962461          4.796995
3  0310274281  4.869159          4.947654
4  0767002652  4.296875          4.842200

In [74]:
data_with_asin = final_knn_data_clean_without_summary.join(df_knn_vectorized_data, how='outer')

In [88]:
data_with_asin.reset_index()
data = data_with_asin.drop('asin', 1)
data_with_asin.tail(180)

,asin,overall,predicted_rating,absolutely,acting,action,actors,actually,adaptation,adventure,...,world,worst,worth,worthy,wow,wrong,year,years,yes,zombie
3377,B009JBZH54,4.653571,4.847075,1,0,3,0,0,0,0,...,0,0,3,0,1,0,0,0,0,0
3378,B009LDCWWG,4.683544,4.901649,1,1,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
3379,B009LDCXNY,4.678392,4.895247,1,0,0,0,0,0,0,...,1,0,2,0,0,0,0,3,1,0
3380,B009LDCZ7I,4.521739,4.939340,0,1,3,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
3381,B009LDD1H6,4.758621,4.999332,2,0,2,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
3382,B009MO57H6,3.502660,4.085877,2,0,23,0,0,0,0,...,1,8,2,0,2,1,0,1,1,1
3383,B009MO5E10,3.857143,4.678033,0,2,20,1,0,0,1,...,0,1,4,0,0,0,0,0,0,0
3384,B009NNM77E,4.373541,4.794674,1,0,2,0,0,0,1,...,1,0,2,0,2,0,0,1,4,0
3385,B009NNM828,2.470588,3.210331,0,1,2,0,0,1,1,...,0,3,3,0,0,0,1,0,0,0
3386,B009NNM9OA,4.539171,4.948506,0,5,1,0,0,0,0,...,0,0,4,1,5,0,3,1,0,0
3387,B009NNMAZI,3.887097,4.488358,1,0,14,0,1,0,1,...,0,1,2,0,0,0,0,0,0,0
3388,B009OCR1OI,3.171053,4.003111,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,1,2,0
3389,B00A1O0G3G,3.130000,4.012053,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
3390,B00A27O5AW,4.349206,4.943518,3,0,1,0,0,0,0,...,0,1,2,0,0,0,1,0,1,0
3391,B00A2H9L2E,3.184397,3.750443,0,1,0,0,1,0,0,...,0,0,0,0,2,0,0,0,0,0
3392,B00A2H9U8E,3.923077,4.509901,0,0,1,0,1,0,0,...,0,0,0,1,0,1,0,0,0,0
3393,B00A2H9UG6,3.685950,4.505790,0,0,0,1,0,0,0,...,0,0,2,0,0,0,0,0,0,0
3394,B00A2H9VKG,3.721519,4.598255,0,2,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3395,B00A2H9WW8,3.731602,4.465773,1,2,0,1,0,2,0,...,0,0,2,0,0,1,0,0,0,0
3396,B00A2LFXVI,4.481707,4.841855,1,0,3,0,0,7,0,...,1,0,1,1,2,0,0,0,1,0
3397,B00A7ZHDOO,4.165049,4.757605,0,2,0,3,0,0,0,...,0,1,3,0,1,0,0,0,0,0
3398,B00AATFJJ8,4.400000,4.733973,3,1,0,0,0,0,0,...,0,0,1,0,3,0,1,1,0,0
3399,B00AEK9BKQ,4.395018,4.878164,0,4,0,1,0,0,0,...,0,1,4,1,5,1,3,0,0,0
3400,B00AENNHOE,3.944056,4.771923,0,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,2,0
3401,B00AF6B22E,3.836563,4.629701,1,24,13,2,1,0,0,...,1,4,20,1,16,3,3,0,2,0
3402,B00AFEY354,4.379581,4.832796,0,3,0,2,0,5,0,...,0,0,8,1,5,0,1,2,0,0
3403,B00AIBZFDI,3.903704,4.525885,0,1,1,4,1,1,0,...,0,0,2,0,2,0,1,0,0,0
3404,B00AIBZJLG,4.061920,4.685359,2,0,0,0,1,0,0,...,3,0,2,0,6,0,0,0,1,0
3405,B00AIBZLVY,3.830861,4.547925,1,3,0,0,0,0,0,...,0,1,6,0,1,0,0,0,2,0
3406,B00AIBZMD6,3.808765,4.430559,0,3,25,2,0,0,1,...,0,1,2,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3527,B00GMV8LIO,3.500928,4.207893,2,15,0,3,2,0,0,...,0,3,10,4,8,1,5,2,1,0
3528,B00GSBMNOQ,4.520782,4.917321,4,9,0,2,0,0,0,...,0,0,5,1,2,1,1,2,0,0
3529,B00GST8U4U,3.416910,4.025051,0,9,1,1,0,0,3,...,0,3,3,0,1,0,1,1,0,0
3530,B00GUO2SKA,4.356448,4.878961,1,45,2,7,0,0,0,...,1,1,14,7,21,0,3,3,2,0
3531,B00H1RMOI6,3.955224,4.722599,0,2,45,5,0,0,1,...,0,2,3,0,3,0,0,0,1,0
3532,B00H5RYIBI,4.603659,4.861697,1,0,0,0,0,0,4,...,0,0,0,0,0,0,5,0,0,0
3533,B00H7KJRVY,4.156627,4.740636,1,1,0,0,0,0,1,...,0,0,2,0,2,0,0,1,0,0
3534,B00H7KJTCG,3.944954,4.429814,0,2,1,0,0,1,0,...,0,0,5,0,1,0,1,0,0,0
3535,B00H7LINKE,3.478261,4.351337,0,27,1,4,0,0,0,...,1,1,2,1,3,0,3,1,0,0
3536,B00H83EUL2,3.661312,4.229347,6,18,17,1,2,0,3,...,5,2,21,5,19,3,6,3,3,0
3537,B00H9HZGQ0,3.440945,4.033739,0,1,0,1,0,0,0,...,2,1,3,2,1,0,1,0,0,0
3538,B00H9KKGTO,3.297510,4.017136,3,17,3,4,3,0,0,...,3,6,5,2,6,3,8,2,0,0
3539,B00H9L26AA,4.071429,4.654128,0,8,0,0,0,0,0,...,0,2,8,1,0,0,4,0,1,0
3540,B00H9LHVHI,4.060976,4.844979,0,2,0,1,0,0,0,...,0,0,2,0,2,0,0,0,0,0
3541,B00HEPC0TS,4.066890,4.772520,0,3,59,0,0,0,0,...,0,1,4,0,0,0,0,1,0,0
3542,B00HEPDGKA,3.727011,4.542090,1,2,12,0,1,0,2,...,0,1,8,1,1,1,0,0,0,0
3543,B00HEPE6MM,4.516411,4.908316,3,3,19,1,4,0,1,...,1,2,5,0,5,0,0,1,0,0
3544,B00HEQO9DM,3.895238,4.532622,0,0,1,2,0,0,0,...,0,0,1,0,0,2,0,0,1,0
3545,B00HHYF570,4.052265,4.565669,2,0,1,1,0,8,0,...,0,0,7,0,2,0,0,0,0,0
3546,B00HLSW6TW,2.830601,3.419835,0,2,4,0,0,0,1,...,0,3,4,0,1,1,0,0,0,0
3547,B00HLTD2OE,3.523364,4.293639,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3548,B00HLTD3ZW,4.000000,4.655846,0,1,38,0,1,0,0,...,0,1,2,0,1,3,0,0,1,0
3549,B00HNGZHDE,3.363014,4.217187,0,1,5,0,0,0,0,...,0,1,3,0,1,0,0,0,0,0
3550,B00HUAH14Q,4.866071,4.970503,0,1,0,0,0,0,0,...,0,0,2,0,0,0,1,0,0,0
3551,B00HUCF420,4.536232,4.786643,0,3,0,1,0,0,0,...,2,0,1,0,2,0,0,1,2,0
3552,B00HUCF7AO,4.646617,4.946119,2,3,1,0,0,0,0,...,1,0,1,0,1,0,1,0,0,0
3553,B00HX0KIAM,3.342391,4.099644,0,0,5,4,0,0,0,...,0,0,2,0,3,1,2,0,0,0
3554,B00JA3RPAG,3.489726,4.220229,2,2,26,1,0,0,0,...,1,1,5,0,1,0,1,2,5,0
3555,B00JAQJMJ0,3.861818,4.508379,0,2,0,2,0,0,2,...,1,0,3,0,1,1,3,0,1,0
3556,B00JBBJJ24,3.773585,4.644241,0,3,6,0,0,0,1,...,2,0,2,1,2,0,0,0,1,0

In [77]:
data.head()

,overall,predicted_rating,absolutely,acting,action,actors,actually,adaptation,adventure,age,...,world,worst,worth,worthy,wow,wrong,year,years,yes,zombie
0,4.458716,4.940745,0,0,0,0,0,4,0,0,...,0,0,0,1,0,0,0,0,0,0
1,4.732283,4.927104,1,0,0,0,0,0,0,2,...,0,0,1,0,0,0,2,0,0,0
2,3.962461,4.796995,2,1,1,0,1,0,0,0,...,4,4,8,1,10,1,5,2,2,0
3,4.869159,4.947654,0,0,0,0,0,0,0,0,...,2,0,0,1,0,0,0,0,0,0
4,4.296875,4.842200,1,1,1,0,0,0,0,1,...,1,0,2,1,1,0,0,2,1,0

In [78]:
data.to_json("data.json")

In [79]:
np_data = np.array(data)

In [80]:
total_data = len(data)
size_of_cut = int(np.floor(0.95 * total_data))
training_data = np_data[:size_of_cut]
test_data = np_data[size_of_cut:]

In [101]:
len(training_data)
data_with_asin_test = data_with_asin.tail(total_data - size_of_cut)
data_with_asin_test_less_cols = data_with_asin_test[['asin','overall','predicted_rating']]

0

In [82]:
len(test_data)

178

In [83]:
neighbor = NearestNeighbors(n_neighbors=3, algorithm='ball_tree').fit(training_data)

In [84]:
distances, indices = neighbor.kneighbors(training_data)

In [228]:
def run_knn(row):
    val = neighbor.kneighbors([test_data[row['serial_no']]])[1]
    arr = val[0]
    temp_arr =[]
    for element in arr:
        temp_arr.append(data_with_asin["asin"][element])
    return ",".join(map(str, temp_arr))

In [ ]:
data_with_asin_test_less_cols.reset_index()
data_with_asin_test_less_cols.insert(0, 'serial_no', range(0, 0 + len(data_with_asin_test_less_cols)))

In [229]:
data_with_asin_test_less_cols['recommended']= data_with_asin_test_less_cols.apply(run_knn,axis=1)
data_with_asin_test_less_cols.head()

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,serial_no,asin,overall,predicted_rating,recommended
3379,0,B009LDCXNY,4.678392,4.895247,"B003L77FYS,B004YM6JI2,B004YM6JLO"
3380,1,B009LDCZ7I,4.521739,4.939340,"6303961614,B002JIOOCQ,B0060MYLCU"
3381,2,B009LDD1H6,4.758621,4.999332,"B000FTCLSU,1415707138,B0001HAGQK"
3382,3,B009MO57H6,3.502660,4.085877,"B002ZG98UA,0767834739,B003Y5H5EW"
3383,4,B009MO5E10,3.857143,4.678033,"B0062P332Y,6304681496,B009HIK3V2"

In [230]:
data_with_asin_test_less_cols.to_csv("data_with_asin_test_less_cols.csv")

In [231]:
data_with_asin_test_less_cols

,serial_no,asin,overall,predicted_rating,recommended
3379,0,B009LDCXNY,4.678392,4.895247,"B003L77FYS,B004YM6JI2,B004YM6JLO"
3380,1,B009LDCZ7I,4.521739,4.939340,"6303961614,B002JIOOCQ,B0060MYLCU"
3381,2,B009LDD1H6,4.758621,4.999332,"B000FTCLSU,1415707138,B0001HAGQK"
3382,3,B009MO57H6,3.502660,4.085877,"B002ZG98UA,0767834739,B003Y5H5EW"
3383,4,B009MO5E10,3.857143,4.678033,"B0062P332Y,6304681496,B009HIK3V2"
3384,5,B009NNM77E,4.373541,4.794674,"B001UV4XXS,B003UESJF6,B00005JPS6"
3385,6,B009NNM828,2.470588,3.210331,"0767839129,0767802497,B001OQCVI8"
3386,7,B009NNM9OA,4.539171,4.948506,"B001HN68ZU,B009AMAK54,B00466HN86"
3387,8,B009NNMAZI,3.887097,4.488358,"B0068RHSCW,B009HIK3V2,B005S9EJS2"
3388,9,B009OCR1OI,3.171053,4.003111,"B001F0TM4Y,B0000AZVEN,0780619250"
3389,10,B00A1O0G3G,3.130000,4.012053,"6302581907,0790751186,B001FB55Y4"
3390,11,B00A27O5AW,4.349206,4.943518,"B001UWOLQG,B0007Y3XRG,B000GAKFIG"
3391,12,B00A2H9L2E,3.184397,3.750443,"B003Q6D25K,6300183181,B0088X7YMS"
3392,13,B00A2H9U8E,3.923077,4.509901,"B000UJ48OU,B005S9EHL6,B0031U8OEK"
3393,14,B00A2H9UG6,3.685950,4.505790,"B002ZG975Q,B002ZG998G,B004HO6HXY"
3394,15,B00A2H9VKG,3.721519,4.598255,"B000F3UAFC,B0034G4P58,B009H3LN8Y"
3395,16,B00A2H9WW8,3.731602,4.465773,"B002ZG97LK,6301969782,B002ZG971U"
3396,17,B00A2LFXVI,4.481707,4.841855,"B001614E68,0790749068,630305899X"
3397,18,B00A7ZHDOO,4.165049,4.757605,"B005S9EK1S,B008FCWZJO,B00005JKVZ"
3398,19,B00AATFJJ8,4.400000,4.733973,"B003X82D1A,B002HRF68A,B00005Y6YJ"
3399,20,B00AEK9BKQ,4.395018,4.878164,"0767819586,B0064JV4LU,B003UESJHO"
3400,21,B00AENNHOE,3.944056,4.771923,"B001LPWGBY,B00150N8EY,B0012IWO0I"
3401,22,B00AF6B22E,3.836563,4.629701,"B005S9ELM6,B0059XTU1S,B005LAIHZY"
3402,23,B00AFEY354,4.379581,4.832796,"B004DK5CW4,1419838830,B000063W1R"
3403,24,B00AIBZFDI,3.903704,4.525885,"B001NFNFF8,B001QOGYAO,B0041KKYHE"
3404,25,B00AIBZJLG,4.061920,4.685359,"B0059XTUB8,B005M0X078,B000BHZ2BO"
3405,26,B00AIBZLVY,3.830861,4.547925,"B004LWZW24,B008220C92,B00005RHGK"
3406,27,B00AIBZMD6,3.808765,4.430559,"0783224079,B005LAIGLE,B00682LS4G"
3407,28,B00AJLHVES,4.596774,4.960585,"B001WAKOX0,B005CRM0Q8,B000C3L2NE"
3408,29,B00AMR5FGA,4.213152,4.643767,"B0002MFGDC,B001AI7766,B003Y5HWJU"
...,...,...,...,...,...
3527,148,B00GMV8LIO,3.500928,4.207893,"B004LWZW4M,B009369Z8A,B00005JPTK"
3528,149,B00GSBMNOQ,4.520782,4.917321,"B00020BVYW,B001FB55J4,B004DK5CW4"
3529,150,B00GST8U4U,3.416910,4.025051,"0780622642,B003UESJHO,0767819586"
3530,151,B00GUO2SKA,4.356448,4.878961,"B008OGIPJA,B002VECM6S,B004A8ZWVK"
3531,152,B00H1RMOI6,3.955224,4.722599,"B00682LS4G,B000Q6GUT8,B002NXSRVG"
3532,153,B00H5RYIBI,4.603659,4.861697,"B00466HN6S,B004HO6HXY,B001DPHDCY"
3533,154,B00H7KJRVY,4.156627,4.740636,"6300213781,B001LPWGBY,630141277X"
3534,155,B00H7KJTCG,3.944954,4.429814,"B000E5KQOQ,B00005JOSG,B008KZ06A6"
3535,156,B00H7LINKE,3.478261,4.351337,"B003UESJHO,B000F4PDF8,B005FITIGO"
3536,157,B00H83EUL2,3.661312,4.229347,"B005S9ELM6,B008JFUQZ2,B002VPE1AW"
3537,158,B00H9HZGQ0,3.440945,4.033739,"0788811355,B000ZIZ0RA,6305126062"
3538,159,B00H9KKGTO,3.297510,4.017136,"B0095HHM78,B001HN68ZU,1419838830"
3539,160,B00H9L26AA,4.071429,4.654128,"B00020BVYW,B004DK5CW4,B0034G4P94"
3540,161,B00H9LHVHI,4.060976,4.844979,"B000ZIZ0RA,B002ZG99UE,0790737345"
3541,162,B00HEPC0TS,4.066890,4.772520,"B000Q6GUT8,B005LAIILM,B005LAIIPS"
3542,163,B00HEPDGKA,3.727011,4.542090,"B008FCWZJO,B008JFUN1O,B005LAIH54"
3543,164,B00HEPE6MM,4.516411,4.908316,"B001HN68ZU,B009369Z8A,B004DK5CW4"
3544,165,B00HEQO9DM,3.895238,4.532622,"B0001I55M4,B002VPTJNQ,0790733234"
3545,166,B00HHYF570,4.052265,4.565669,"B009AMAKWM,B005N4DMMG,B0090SI4LU"
3546,167,B00HLSW6TW,2.830601,3.419835,"B0073U2F12,B0021L8V34,B0012Q732O"
3547,168,B00HLTD2OE,3.523364,4.293639,"B0036WSW8G,0783225504,B00063KGPU"
3548,169,B00HLTD3ZW,4.000000,4.655846,"B002ZG99TA,B00682LS4G,B005LAIILM"
3549,170,B00HNGZHDE,3.363014,4.217187,"B00003CXXU,B002ZG99CC,B002ZG97LK"
3550,171,B00HUAH14Q,4.866071,4.970503,"B0006FO5MI,B0000DZSYD,B0060MYOH2"
3551,172,B00HUCF420,4.536232,4.786643,"B00079FUI6,B000001BTW,B000X410IY"
3552,173,B00HUCF7AO,4.646617,4.946119,"B00915G6SU,B0060MYOH2,B007MDB6Y2"
3553,174,B00HX0KIAM,3.342391,4.099644,"B002ZG97II,B00005JMYF,B002ZG97TW"
3554,175,B00JA3RPAG,3.489726,4.220229,"B008JFUN1O,B00682LS4G,B005S9ELVC"
3555,176,B00JAQJMJ0,3.861818,4.508379,"B00005V4XW,B00000ILEA,B00005R874"
3556,177,B00JBBJJ24,3.773585,4.644241,"6305238065,079073639X,6304083769"